{# my_list.html #}
{# extends this template: #}
{# [path to Python]\Envs\flaskadmin\Lib\site-packages\flask_admin\templates\bootstrap3\admin\model\list.html #}

{% extends 'admin/model/list.html' %}
{% block body %}
    {{ super() }}
{% endblock %}

{% block list_row_actions %}
    <a href="{{ row.id }}/send_message">
        <span class="fa fa-ok glyphicon glyphicon-send"></span>
    </a>
    {{ super() }}
{% endblock %}
